@use 'mixins';
@use "sass:color";

.featured-works {
  $bp-text-is-separate-section: 44rem;

  border-radius: $border-radius-right-top;
  margin: 3rem auto;
  min-width: 20rem;
  width: unset;
  background-image: url("/images/annie-spratt-peonies4.jpg");
  background-position: center;
  background-size: cover;
  mix-blend-mode: screen;

  @media (min-width: $bp-text-is-separate-section) {
    padding: 3rem;
    border-radius: 0;
  }

  @media (min-width: $bp-col-4-to-12) {
    border-radius: $border-radius-right-top;
    padding: 0;
  }

  &__content {
    background-color: rgb(color.mix($color-background, $color-blush, 70%), 60%);
    backdrop-filter: blur(1rem);
    border-radius: $border-radius-right-top;
    padding: 2.5rem;
    margin: auto;
  }

  h2 {
    margin-bottom: 4rem;
  }

  .article-blurb {
    @include mixins.twelve-col-grid;
    width: 100%;
    margin-bottom: 4rem;
    align-items: center;

    &__left,
    &__right {
      grid-column: 1 / span 4;
      margin-top: 1rem;
    }

    @media (min-width: $bp-text-is-separate-section) {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }

    @media (min-width: $bp-col-4-to-12) {
      width: 100%;

      h3 {
        margin-top: 0;
      }

      &__left,
      &__right {
        margin-top: 0;
      }

      &__left {
        grid-column: 1 / span 6;
      }

      &__right {
        grid-column: 7 / span 5;
        margin-left: 1.5rem;
      }
    }

    img, iframe {
      @include mixins.holographic-border;
      border-radius: $border-radius-left-top;
      width: 100%;
      max-width: 35rem;
      margin: 0 auto 0 0;
    }

    img {
      display: block;
    }

    iframe {
      display: block;
      min-height: 23.3333rem;
    }

    p {
      max-width: 24ch;
      max-width: 48ch;
    }

    a {
      &:link,
      &:visited {
        color: $color-text-accent;
        text-decoration: underline;
      }

      &:hover,
      &:active {
        color: $color-gilded;
        text-decoration: none;
      }
    }
  }
}
