@import './settings';

@mixin holographic-border($background-color: $color-background, $border-size: 0.25rem) {
  background: linear-gradient($background-color, $background-color) padding-box, $gradient-holographic border-box;
  border: $border-size solid transparent;
}

@mixin twelve-col-grid() {
  display: grid;
  gap: 0 1.5rem;
  grid-template-columns: repeat(4, 1fr);

  @media (min-width: $bp-col-4-to-12) {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin custom-focus() {
  &:focus-visible {
    outline-offset: 0.25rem;
    outline: thick double $color-focus;
  }
}
