// Fonts

@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Domine:wght@400;700&display=swap');

$font-primary: 'Catamaran', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-accent: 'Domine', 'Times New Roman', serif;

// Colors

$color-background: black;
$color-text-primary: white;

// Gradient

// Borders

