// Fonts
/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lustria&display=swap');

$font-primary: 'Catamaran', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-accent: 'Lustria', 'Times New Roman', serif;

// Colors
$color-blush: #eda6c7;
$color-midnight: #111d27;
$color-gilded: #efd39f;
$color-silvered: #dee6ee;


$color-background: $color-midnight;
$color-text-primary: $color-silvered;
$color-text-accent: $color-blush;

// Gradients
$gradient-holographic: linear-gradient(
  135deg,
  $color-silvered 0%,
  #d6c9ed 5%,
  $color-blush 10%,
  #f9d9d9 18%,
  $color-gilded 35%,
  #74fbc3 60%,
  #a6adfd 76%,
  #f4cac8 84%,
  #faf1e4 92%,
  #f9f7f4 100%
);

// Borders

$border-radius-right-top: 0 3rem 0 3rem;
$border-radius-left-top: 3rem 0 3rem 0;

// Breakpoints

$bp-col-4-to-12: 68rem;
